body {
	background-image: url("/images/wood-texture-background.jpg");
	background-repeat: repeat;
	}
	
	.row div{
			background: white;
			-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;

		}


.drinker ul{
	float: left;
}

.drinker img{
	float: left;
	clear: left;
}


.drinker li{
	list-style-type: none;
	margin-left: 0;
}

.drinker img {
	width: 100px;
	height: 100px;
}
.drinker.last img{
	width: 160px;
	height: 160px;
}

	/*
.insetText {
        font-family: Consolas, Lucida Console, Courier, Courier New;
        background-color: #666666;
text-shadow: 0px -1px 0px #374683;
}

.tickerlabel{
	background: #ccc;
	-moz-box-shadow: 2px -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;2px 2px #888;
-webkit-box-shadow: 2px 2px 2px #888;
box-shadow: 2px 2px 2px #888;
 text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
 padding: 1em;
font-family: Consolas, Lucida Console, Courier, Courier New;
text-transform: uppercase;
	}
	
	.row div {
			background: #ccc;
	-moz-box-shadow: 2px 2px 2px #888;
-webkit-box-shadow: 2px 2px 2px #888;
box-shadow: 2px 2px 2px #888;
padding: .5em;
		}
		
		.row{
			padding: .5em;
			}
	
	.inset { text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
	 line-height:3em; font-size:3em; font-weight:bold; color:#808080;} 
	 
	 */