body {
  background-image: url('../img/wood_pattern.png');
}

.hidden {
  display: none;
}

.brand {
  font-family: 'Cabin Sketch', cursive;
}

.hero-unit {
  background: url('http://cdn.coderwall.com/assets/locations/Seattle-23434a74fb83989b8faab496de8a40f9.jpg');
  color: #ffffff;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.intro_copy {
  background: rgb(60, 60, 60);
  background: rgba(60, 60, 60, 0.9);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
}

.card {
  background: rgb(60, 60, 60);
  background: rgba(60, 60, 60, 0.9);
  padding: 20px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 128px;
}

.card_content {
   float: left;
}

.previous {
  margin: 0 0 0 0;
}

.mini-card {
  background: rgb(50, 50, 50);
  background: rgba(60, 60, 60, 0.7);
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 20px 20px 0;
  padding: 20px;
  float: left;
  width: 285px;
  list-style: none;
}

.mini-card img.profile {
  width: 80px;
  height: 80px;
}

.mini-card h2.name, .mini-card h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-overflow: ellipsis comes into play only when the elem has:
    overflow other than visible and white-space: nowrap. */
}

.profile {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-right: 25px;
  /*border: solid 3px #08C;*/
  float: left;
  /*padding: 3px;*/
  /*border: 1px solid #ccc;*/
  width: 128px;
  height: 128px;
}

.bc-right {
  /* float: left; */
  margin: 0 0 15px 30px;
  width: 300px;
  /*max-width: 300px;*/
  overflow: hidden;
  color: #ffffff;
}

.user_coasters img {
  width: 60px;
  height: 60px;
  margin: 0 5px;
}

.user_coasters img:hover {
  -o-transition-timing-function: ease-out;
  -o-transition-delay: 0.1s;
  -o-transition-duration: 0.2s;
  -o-transform: scale(1.5, 1.5);
  -ms-transition-timing-function: ease-out;
  -ms-transition-delay: 0.1s;
  -ms-transition-duration: 0.2s;
  -ms-transform: scale(1.5, 1.5);
  -moz-transition-timing-function: ease-out;
  -moz-transition-delay: 0.1s;
  -moz-transition-duration: 0.2s;
  -moz-transform: scale(1.5, 1.5);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-delay: 0.1s;
  -webkit-transition-duration: 0.2s;
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}

h2 {
  color: #ffffff;
}

h3 {
  margin-bottom: 10px;
}

.badge {
  font-size: 125%;
}

/*  bootstrap upgrade fixes             						*/
/*  new bootstrap upped the font-size and whacks everything out */

body.kegio .mini-card h2, .card h2, .card p {
	margin: 0;
}
/*
body.kegio .hero-unit .card p {
	font-size: 13px;
}
*/
body.kegio .badge {
	padding: 4px 9px;
}
body.kegio .hero-unit .badge{
	padding: 6px 9px;
}


body.kegio {
	  font-size: 13px;
  line-height: 18px;
}

body.kegio .nav-list .nav-header {
	line-height: 18px;
}

body.kegio h1 {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

body.kegio h1 small {
  font-size: 18px;
}

body.kegio h2 {
  font-size: 24px;
  line-height: 36px;
}

body.kegio h2 small {
  font-size: 18px;
}

body.kegio h3 {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 10px;
}

h3 small {
  font-size: 14px;
}

body.kegio h4,
body.kegio h5,
body.kegio h6 {
  line-height: 18px;
}

body.kegio h4 {
  font-size: 14px;
}

body.kegio h4 small {
  font-size: 12px;
}

body.kegio h5 {
  font-size: 12px;
}

body.kegio h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}

.badge.deny {
    cursor: pointer;
}

