body {
  background-image: url('../img/wood_pattern.png');
}

.brand {
  font-family: 'Cabin Sketch', cursive;
}

.hero-unit {
  background: url('http://cdn.coderwall.com/assets/locations/Seattle-23434a74fb83989b8faab496de8a40f9.jpg');
  color: #ffffff;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.card {
  background: rgba(60, 60, 60, 0.9);
  padding: 20px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 128px;
}

.mini-card {
  background: rgba(60, 60, 60, 0.7);
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.profile {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-right: 25px;
  /*border: solid 3px #08C;*/
  float: left;
  /*padding: 3px;*/
  /*border: 1px solid #ccc;*/
  width: 128px;
  height: 128px;
}

.bc-right {
  /* float: left; */
  margin: 0 0 15px 30px;
  width: 300px;
  /*max-width: 300px;*/
  overflow: hidden;
  color: #ffffff;
}

.user_coasters img {
  width: 60px;
  height: 60px;
  margin: 0 5px;
}

.user_coasters img:hover {
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-delay: 0.1s;
  -webkit-transition-duration: 0.2s;
  -webkit-transform: scale(1.5, 1.5);
}

h2 {
  color: #ffffff;
}